<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>收集表单数据</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
    <style>
        #root {
            padding: 20px;
        }

        form {
            width: fit-content;
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <form>
            <h2 style="text-align: center;">信息表</h2>
            账号：<input type="text" v-model.trim="account">
            <br><br>
            密码：<input type="password" v-model="password">
            <br><br>
            年龄：<input type="number" v-model.number="age">
            <br><br>
            性别：
            男<input type="radio" v-model="gender" value="male">
            女<input type="radio" v-model="gender" value="female">
            <br><br>
            爱好：
            唱跳<input type="checkbox" v-model="hobby" value="sing_dance">
            RAP<input type="checkbox" v-model="hobby" value="rap">
            篮球<input type="checkbox" v-model="hobby" value="basketball">
            <br><br>
            地址：
            <select v-model="address" style="width:100px">
                <option value="nt">南通</option>
                <option value="sz">苏州</option>
                <option value="hz">杭州</option>
                <option value="nj">南京</option>
            </select>
            <br><br>
            其他信息：<textarea v-model.lazy="other"></textarea>
            <br><br>
            <input type="checkbox" v-model="agree">
            阅读并接受<a href="https://www.baidu.com">《用户协议》</a>
            <br><br>
            <button :disabled="!agree">提交</button>
        </form>

    </div>
</body>
<script>
    Vue.config.productionTip = false //阻止Vue在启动时生成生产提示。
    const vm = new Vue({
        el: '#root',
        data: {
            account: '',
            password: '',
            age: 0,
            gender: '',
            hobby: [],//多选框要写成数组
            address: '',
            other: '',
            agree:'',
        }
    });
</script>

</html>