<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>列表过滤</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <input type="text" v-model="keyWord" placeholder="请输入姓名">
        <ul>
            <li v-for="(p,idx) in filterPersons" :key="idx">
                {{p.name}}-{{p.age}}--{{p.gender}}
            </li>
        </ul>
    </div>
</body>
<script>
    Vue.config.productionTip = false //阻止Vue在启动时生成生产提示。
    //watch实现
    /*const vm = new Vue({
        el: '#root',
        data: {
            keyWord: '',
            personArr: [
                {
                    id: '001',
                    name: '马冬梅',
                    age: 18,
                    gender: '女'
                },
                {
                    id: '002',
                    name: '周冬雨',
                    age: 19,
                    gender: '女'
                },
                {
                    id: '003',
                    name: '周杰伦',
                    age: 20,
                    gender: '男'
                },
                {
                    id: '004',
                    name: '温兆伦',
                    age: 21,
                    gender: '男'
                },
            ],
            filterPersons: [],
        },
        watch: {
            keyWord: {
                immediate: true,
                handler(val) {//只需要变化后的值
                    this.filterPersons = this.personArr.filter((p) => {
                        //返回索引存在的数组项，即过滤
                        return p.name.indexOf(val) >= 0;
                    });
                }
            }
        },
    });*/

    //computed实现
    const vm = new Vue({
        el: '#root',
        data: {
            keyWord: '',
            personArr: [
                {
                    id: '001',
                    name: '马冬梅',
                    age: 18,
                    gender: '女'
                },
                {
                    id: '002',
                    name: '周冬雨',
                    age: 19,
                    gender: '女'
                },
                {
                    id: '003',
                    name: '周杰伦',
                    age: 20,
                    gender: '男'
                },
                {
                    id: '004',
                    name: '温兆伦',
                    age: 21,
                    gender: '男'
                },
            ],

        },
        computed: {
            filterPersons() {
                return this.personArr.filter((p) => {
                    return p.name.indexOf(this.keyWord) >= 0;
                })
            }
        }

    });
</script>

</html>