<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>列表排序</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <input type="text" v-model="keyWord" placeholder="请输入姓名">
        <button @click="sortType = 2;">年龄升序</button>
        <button @click="sortType = 1;">年龄降序</button>
        <button @click="sortType = 0;">原顺序</button>
        <ul>
            <li v-for="p in filterPersons" :key="p.id">
                {{p.name}}-{{p.age}}--{{p.gender}}
                <input type="text">
            </li>
        </ul>
    </div>
</body>
<script>
    Vue.config.productionTip = false //阻止Vue在启动时生成生产提示。

    const vm = new Vue({
        el: '#root',
        data: {
            sortType: 0,
            keyWord: '',
            personArr: [
                {
                    id: '001',
                    name: '马冬梅',
                    age: 30,
                    gender: '女'
                },
                {
                    id: '002',
                    name: '周冬雨',
                    age: 31,
                    gender: '女'
                },
                {
                    id: '003',
                    name: '周杰伦',
                    age: 22,
                    gender: '男'
                },
                {
                    id: '004',
                    name: '温兆伦',
                    age: 19,
                    gender: '男'
                },
            ],

        },
        computed: {
            filterPersons() {
                const tempArr = this.personArr.filter((p) => {
                    return p.name.indexOf(this.keyWord) >= 0;
                })

                //判断是否需要排序
                if (this.sortType) {
                    tempArr.sort((p1, p2) => {
                        return this.sortType == 2 ? p1.age - p2.age : p2.age - p1.age;
                    })
                }
                return tempArr;
            }
        }

    });
</script>

</html>