<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>姓名案例_method</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        全名: <span>{{fullName()}}</span>

    </div>
</body>
<script>
    Vue.config.productionTip = false //阻止Vue在启动时生成生产提示。
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        methods: {
            fullName() {
                return this.firstName + '-' + this.lastName;
            },
        }
    });
</script>

</html>